@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Varela+Round&display=swap");

$primary-color: linear-gradient(90deg, #ea1790 -101.89%, #0093d5 197.57%);
$text-color: #414856;
$sucess-color: #198754;
$alert-color: #ffc107;
$danger-color: #dc3545;
$background-color: #ffffff;
$gray-color: #cecece;
$disabled: #c3c8de;

$title-font: 700 36px "M PLUS Rounded 1c", sans-serif;
$text-font: 400 20px "Varela Round", sans-serif;
